{% extends 'base.html' %}
{% block title %} О нас {% endblock %}
{% block content %}
<h1>Мы — Life Is Style, интернет-магазин одежды, созданный для тех, кто любит стильно выглядеть каждый день. Мы предлагаем широкий выбор качественных вещей для мужчин и женщин, гармонично объединяя комфорт и современный дизайн.               
Наш магазин помогает каждому покупателю выразить свою индивидуальность, подчеркивая неповторимый образ. Регулярно обновляемый ассортимент позволяет оставаться в тренде, предлагая свежие идеи и уникальные решения.
Мы гордимся возможностью сделать шопинг удобным и приятным процессом, обеспечивая доступ к лучшим вещам с доставкой прямо домой
Присоединяйтесь к нам и создавайте собственный стиль вместе с Life Is Style!
</h1>
<h2>Директор : Перепёлкина Анфиса 
    Контакты : +7 (925) 123-45-67 
</h2>
{% endblock %}