{# это шаблон для сайта #}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title> {% block title %} <title>Life is style{% endblock %}</title>
</head>
<body bgcolor="b8d4fc" text = "black">

    {% block nav %}
    <ul>
        <img src="" width="450" height="350">
        <li><a href="/">Главная страница</a></li><!--элементы списка-->
        <li><a href="/catalog">Каталог</a></li>
        <li><a href="/sale"> Скидки и акции</a></li>
        <li><a href="/about">О нас</a></li>
        <li><a href="/news">Новости</a></li>
        <li><a href="/support">Поддержка</a></li>

    </ul>
    {% endblock %}

    {% block content %}

    {% endblock %}

</body>
</html>